:root {
    --global-padding-left: 1em;
    --body-background-color: #222222;
    --body-font-color: white;
    --article-font-color: black;
}

@font-face {
    font-family: "AppleMyungjo";
    src: url("../../public/fonts/applemyungjo.woff");
}
@font-face {
    font-family: "SF Mono";
    src: url("../../public/fonts/sfmono.woff");
}

body {
    margin: 0;

    color: var(--body-font-color);
    background: var(--body-background-color);
    padding-top: calc(env(safe-area-inset-top) + 100px);
    font-family: "AppleMyungjo";
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "SF Mono", monospace;
}

